/* Mixin untuk responsive breakpoint */
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $bp-mobile) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: $bp-tablet) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: $bp-desktop) {
      @content;
    }
  }
}

/* Mixin untuk text truncate */
@mixin truncate($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
