/* ---------- Font Import ---------- */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

/* ---------- Warna Tema ---------- */
$color-primary: #ffcb05; // Kuning Digivice
$color-secondary: #0058a3; // Biru Digivice
$color-dark: #1b1b1b; // Background gelap
$color-light: #ffffff; // Teks terang
$color-accent: #ff5733; // Aksen oranye
$color-glasess: #6e6e6e;

/* ---------- Breakpoints ---------- */
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
